doctype html
html
  head
    style
      include style.css
  body
    .article
        p #{nameInPug} 同学, 你的作文已经传到老师邮件中,等待老师的反馈.
        p #{questionInPug}
        <span style="white-space: pre-line">#{essayInPug}</span>


         <hr>
            <h4> 感谢使用51PASS 练习终端, 如有问题请及时练习我 微信 neil18488, 电话 <a href="tel:0426008309">0426008309</a>
    
                p DISCLAIMER: The information in this e-mail may be confidential and/or legally privileged. It is intended solely for the addressee. Access to this e-mail by anyone else is unauthorised. If you are not the intended recipient, any disclosure, copying, distribution or any action taken or omitted to be taken in reliance on it, is prohibited and may be unlawful. If you have received this email in error, please delete it from your system and notify the sender immediately. 51Pass.com does not represent, warrant or guarantee that the integrity of this communication has been maintained or that the communication is free of errors, virus or interference.


